<a href="https://colab.research.google.com/github/restrepo/ComputationalMethods/blob/master/exams/Examen_2018_2_0_5chiral.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import sympy as sy

In [ ]:
st=pd.read_csv('https://docs.google.com/spreadsheets/d/e/2PACX-1vQ6ltUxH161xsPuP_-66A86omeh9xce1JFD0Ok2mhO_JdwrPI4bMwlJPWgpxKsS6-doAS-0nhmLshJg/pub?output=csv')

## Convert to sympy objects

In [ ]:
for x in ['x1','x2','x3','x4','x5']:
    st[x]=st[x].map(sy.sympify)

### Find solutions with two repeated charges

In [ ]:
xs=['x1','x2','x3','x4','x5']
st2=pd.DataFrame()
for x in xs:
    for y in xs:
        if x!=y:
            st['pair']=x+'='+y
            tmp=st[ st[x]==st[y] ].reset_index(drop=True)
            tmp['nu']=tmp[x]
            st2=st2.append(tmp).reset_index(drop=True)
            
st2=st2.drop_duplicates(xs).reset_index(drop=True)

In [ ]:
st2[:3]

    x1   x2   x3 x4    x5   pair   nu
0    0    0    1  1     1  x1=x2    0
1  1/4  1/4  1/4  1   5/4  x1=x2  1/4
2  1/9  1/9  5/9  1  11/9  x1=x2  1/9

In [ ]:
st2['nuk']=2-st2['nu']
st2

         x1      x2     x3     x4     x5   pair    nu    nuk
0         0       0      1      1      1  x1=x2     0      2
1       1/4     1/4    1/4      1    5/4  x1=x2   1/4    7/4
2       1/9     1/9    5/9      1   11/9  x1=x2   1/9   17/9
3       1/4     1/4    1/2    5/8   11/8  x1=x2   1/4    7/4
4       1/6     1/6   7/12    3/4    4/3  x1=x2   1/6   11/6
5       1/5     1/5   7/15    4/5    4/3  x1=x2   1/5    9/5
6       1/9     1/9  19/27    7/9  35/27  x1=x2   1/9   17/9
7       2/5     2/5    2/5    2/5    7/5  x1=x2   2/5    8/5
8        -5       0      0      4      4  x2=x3     0      2
9        -5     1/4    1/4   11/4   19/4  x2=x3   1/4    7/4
10       -5     1/9    1/9   29/9   41/9  x2=x3   1/9   17/9
11       -5     4/9    4/9   20/9   44/9  x2=x3   4/9   14/9
12       -2    9/10   9/10  49/40  79/40  x2=x3  9/10  11/10
13       -4     2/7    2/7  64/21  71/21  x2=x3   2/7   12/7
14    -22/3    -2/3   -2/3   17/3      6  x2=x3  -2/3    8/3
15       -6    -1/6   -1/6  47/12  65/12  x2=x3  -1/6   13/6
16       -6       0      0   10/3   17/3  x2=x3     0      2
17     -3/4     5/6    5/6  61/60  16/15  x2=x3   5/6    7/6
18     -1/3     3/5    3/5   9/10  37/30  x2=x3   3/5    7/5
19  -127/18    -1/9   -1/9    7/2   61/9  x2=x3  -1/9   19/9
20     -1/9     4/9    4/9      1   11/9  x2=x3   4/9   14/9
21        0     3/8    3/8  25/24  29/24  x2=x3   3/8   13/8
22    -17/4     1/4    1/4      3   15/4  x2=x3   1/4    7/4
23    -55/9     1/9    1/9      3   53/9  x2=x3   1/9   17/9
24      1/9     4/9    4/9  17/27  37/27  x2=x3   4/9   14/9
25   29/120    3/10   3/10  33/40    4/3  x2=x3  3/10  17/10
26   -91/24     3/8    3/8    8/3   27/8  x2=x3   3/8   13/8
27    -31/9     4/9    4/9   23/9      3  x2=x3   4/9   14/9
28    -11/6     5/6    5/6    3/2    5/3  x2=x3   5/6    7/6
29    -14/9     8/9    8/9  62/45    7/5  x2=x3   8/9   10/9
30       -5    -5/4    9/4    9/4   19/4  x3=x4   9/4   -1/4
31     -7/2      -1    5/2    5/2    5/2  x3=x4   5/2   -1/2
32     -8/3       0    5/3    5/3    7/3  x3=x4   5/3    1/3
33     -7/2    -7/8    9/4    9/4   23/8  x3=x4   9/4   -1/4
34     -1/5     1/2   7/10   7/10  13/10  x3=x4  7/10  13/10
35     -1/6    5/18    5/6    5/6   11/9  x3=x4   5/6    7/6
36        0     1/3    2/3    2/3    4/3  x3=x4   2/3    4/3
37    -7/20     2/5   9/10   9/10  23/20  x3=x4  9/10  11/10
38   -43/12  -11/12    9/4    9/4      3  x3=x4   9/4   -1/4
39   -19/12   41/60    5/4    5/4    7/5  x3=x4   5/4    3/4
40       -2     2/5    7/5    8/5    8/5  x4=x5   8/5    2/5
41       -3    -1/3    5/3    7/3    7/3  x4=x5   7/3   -1/3
42       -4     1/9    4/9   29/9   29/9  x4=x5  29/9  -11/9
43     -8/5   11/15  16/15    7/5    7/5  x4=x5   7/5    3/5
44     -7/3     1/6    3/2   11/6   11/6  x4=x5  11/6    1/6
45   -71/24    -3/8   11/6    9/4    9/4  x4=x5   9/4   -1/4
46    -11/4     1/4      1    9/4    9/4  x4=x5   9/4   -1/4
47    -29/3   -25/3      3      9      9  x4=x5     9     -7
48  -146/15   -14/3    7/5      8      8  x4=x5     8     -6

In [ ]:
st22=pd.DataFrame()
for x in xs:
    st2

In [ ]:
st2eq=pd.DataFrame()
for x in ['x1','x2','x3','x4','x5']:
    for y in ['x1','x2','x3','x4','x5']:
        if x!=y:
            st2['equal']=x+'='+y
            st2eq=st2eq.append(st2[ st2[x]==st2[y] ]).reset_index(drop=True)

In [ ]:
st2eq.drop_duplicates(['x1','x2','x3','x4','x5'])

      x1    x2     x3     x4     x5   pair  equal
0      0     0      1      1      1  x3+x4  x1=x2
2    1/9   1/9  19/27    7/9  35/27  x3+x5  x1=x2
5    1/4   1/4    1/2    5/8   11/8  x4+x5  x1=x2
20   1/9   4/9    4/9  17/27  37/27  x4+x5  x2=x3
24  -7/2  -7/8    9/4    9/4   23/8  x2+x5  x3=x4
26  -1/5   1/2   7/10   7/10  13/10  x3+x5  x3=x4
28     0   1/3    2/3    2/3    4/3  x3+x5  x3=x4
62    -2   2/5    7/5    8/5    8/5  x2+x4  x4=x5
63    -3  -1/3    5/3    7/3    7/3  x2+x4  x4=x5
64  -7/3   1/6    3/2   11/6   11/6  x2+x4  x4=x5

## Keep as strings

In [ ]:
st['sltn']=(st.x1+','+st.x2+','+st.x3+','+st.x4+','+st.x5).str.split(',')
st['sltnstr']=('('+st.x1+')'+'+'+'('+st.x2+')'+'+'+'('+st.x3+')'+'+'+
               '('+st.x4+')'+'+'+'('+st.x5+')')

## Solutions with at least two repeated chiral fields

In [ ]:
st2=st[st.sltnstr.str.contains( r'(\([\-0-9]*\/*[0-9]+\)).*\1'  )].reset_index(drop=True)
st2

/usr/local/lib/python2.7/dist-packages/ipykernel_launcher.py:1: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  """Entry point for launching an IPython kernel.

,x1,x2,x3,x4,x5,sltn,sltnstr
0,-5,-5/4,9/4,9/4,19/4,"[-5, -5/4, 9/4, 9/4, 19/4]",(-5)+(-5/4)+(9/4)+(9/4)+(19/4)
1,-7/2,-1,5/2,5/2,5/2,"[-7/2, -1, 5/2, 5/2, 5/2]",(-7/2)+(-1)+(5/2)+(5/2)+(5/2)
2,-5,0,0,4,4,"[-5, 0, 0, 4, 4]",(-5)+(0)+(0)+(4)+(4)
3,-5,1/4,1/4,11/4,19/4,"[-5, 1/4, 1/4, 11/4, 19/4]",(-5)+(1/4)+(1/4)+(11/4)+(19/4)
4,-5,1/9,1/9,29/9,41/9,"[-5, 1/9, 1/9, 29/9, 41/9]",(-5)+(1/9)+(1/9)+(29/9)+(41/9)
5,-2,2/5,7/5,8/5,8/5,"[-2, 2/5, 7/5, 8/5, 8/5]",(-2)+(2/5)+(7/5)+(8/5)+(8/5)
6,-5,4/9,4/9,20/9,44/9,"[-5, 4/9, 4/9, 20/9, 44/9]",(-5)+(4/9)+(4/9)+(20/9)+(44/9)
7,-2,9/10,9/10,49/40,79/40,"[-2, 9/10, 9/10, 49/40, 79/40]",(-2)+(9/10)+(9/10)+(49/40)+(79/40)
8,-3,-1/3,5/3,7/3,7/3,"[-3, -1/3, 5/3, 7/3, 7/3]",(-3)+(-1/3)+(5/3)+(7/3)+(7/3)
9,-8/3,0,5/3,5/3,7/3,"[-8/3, 0, 5/3, 5/3, 7/3]",(-8/3)+(0)+(5/3)+(5/3)+(7/3)
10,-4,1/9,4/9,29/9,29/9,"[-4, 1/9, 4/9, 29/9, 29/9]",(-4)+(1/9)+(4/9)+(29/9)+(29/9)
11,-4,2/7,2/7,64/21,71/21,"[-4, 2/7, 2/7, 64/21, 71/21]",(-4)+(2/7)+(2/7)+(64/21)+(71/21)
12,-8/5,11/15,16/15,7/5,7/5,"[-8/5, 11/15, 16/15, 7/5, 7/5]",(-8/5)+(11/15)+(16/15)+(7/5)+(7/5)
13,-7/2,-7/8,9/4,9/4,23/8,"[-7/2, -7/8, 9/4, 9/4, 23/8]",(-7/2)+(-7/8)+(9/4)+(9/4)+(23/8)
14,-7/3,1/6,3/2,11/6,11/6,"[-7/3, 1/6, 3/2, 11/6, 11/6]",(-7/3)+(1/6)+(3/2)+(11/6)+(11/6)
15,-22/3,-2/3,-2/3,17/3,6,"[-22/3, -2/3, -2/3, 17/3, 6]",(-22/3)+(-2/3)+(-2/3)+(17/3)+(6)
16,-6,-1/6,-1/6,47/12,65/12,"[-6, -1/6, -1/6, 47/12, 65/12]",(-6)+(-1/6)+(-1/6)+(47/12)+(65/12)
17,-6,0,0,10/3,17/3,"[-6, 0, 0, 10/3, 17/3]",(-6)+(0)+(0)+(10/3)+(17/3)
18,-3/4,5/6,5/6,61/60,16/15,"[-3/4, 5/6, 5/6, 61/60, 16/15]",(-3/4)+(5/6)+(5/6)+(61/60)+(16/15)
19,-1/3,3/5,3/5,9/10,37/30,"[-1/3, 3/5, 3/5, 9/10, 37/30]",(-1/3)+(3/5)+(3/5)+(9/10)+(37/30)
20,-71/24,-3/8,11/6,9/4,9/4,"[-71/24, -3/8, 11/6, 9/4, 9/4]",(-71/24)+(-3/8)+(11/6)+(9/4)+(9/4)
21,-1/5,1/2,7/10,7/10,13/10,"[-1/5, 1/2, 7/10, 7/10, 13/10]",(-1/5)+(1/2)+(7/10)+(7/10)+(13/10)
22,-127/18,-1/9,-1/9,7/2,61/9,"[-127/18, -1/9, -1/9, 7/2, 61/9]",(-127/18)+(-1/9)+(-1/9)+(7/2)+(61/9)
23,-1/9,4/9,4/9,1,11/9,"[-1/9, 4/9, 4/9, 1, 11/9]",(-1/9)+(4/9)+(4/9)+(1)+(11/9)
24,-1/6,5/18,5/6,5/6,11/9,"[-1/6, 5/18, 5/6, 5/6, 11/9]",(-1/6)+(5/18)+(5/6)+(5/6)+(11/9)
25,0,0,1,1,1,"[0, 0, 1, 1, 1]",(0)+(0)+(1)+(1)+(1)
26,0,1/3,2/3,2/3,4/3,"[0, 1/3, 2/3, 2/3, 4/3]",(0)+(1/3)+(2/3)+(2/3)+(4/3)
27,0,3/8,3/8,25/24,29/24,"[0, 3/8, 3/8, 25/24, 29/24]",(0)+(3/8)+(3/8)+(25/24)+(29/24)
28,1/4,1/4,1/4,1,5/4,"[1/4, 1/4, 1/4, 1, 5/4]",(1/4)+(1/4)+(1/4)+(1)+(5/4)
29,1/9,1/9,5/9,1,11/9,"[1/9, 1/9, 5/9, 1, 11/9]",(1/9)+(1/9)+(5/9)+(1)+(11/9)
30,1/4,1/4,1/2,5/8,11/8,"[1/4, 1/4, 1/2, 5/8, 11/8]",(1/4)+(1/4)+(1/2)+(5/8)+(11/8)
31,-17/4,1/4,1/4,3,15/4,"[-17/4, 1/4, 1/4, 3, 15/4]",(-17/4)+(1/4)+(1/4)+(3)+(15/4)
32,1/6,1/6,7/12,3/4,4/3,"[1/6, 1/6, 7/12, 3/4, 4/3]",(1/6)+(1/6)+(7/12)+(3/4)+(4/3)
33,-55/9,1/9,1/9,3,53/9,"[-55/9, 1/9, 1/9, 3, 53/9]",(-55/9)+(1/9)+(1/9)+(3)+(53/9)
34,1/5,1/5,7/15,4/5,4/3,"[1/5, 1/5, 7/15, 4/5, 4/3]",(1/5)+(1/5)+(7/15)+(4/5)+(4/3)
35,1/9,1/9,19/27,7/9,35/27,"[1/9, 1/9, 19/27, 7/9, 35/27]",(1/9)+(1/9)+(19/27)+(7/9)+(35/27)
36,-11/4,1/4,1,9/4,9/4,"[-11/4, 1/4, 1, 9/4, 9/4]",(-11/4)+(1/4)+(1)+(9/4)+(9/4)
37,1/9,4/9,4/9,17/27,37/27,"[1/9, 4/9, 4/9, 17/27, 37/27]",(1/9)+(4/9)+(4/9)+(17/27)+(37/27)
38,2/5,2/5,2/5,2/5,7/5,"[2/5, 2/5, 2/5, 2/5, 7/5]",(2/5)+(2/5)+(2/5)+(2/5)+(7/5)
39,-7/20,2/5,9/10,9/10,23/20,"[-7/20, 2/5, 9/10, 9/10, 23/20]",(-7/20)+(2/5)+(9/10)+(9/10)+(23/20)
40,29/120,3/10,3/10,33/40,4/3,"[29/120, 3/10, 3/10, 33/40, 4/3]",(29/120)+(3/10)+(3/10)+(33/40)+(4/3)
41,-91/24,3/8,3/8,8/3,27/8,"[-91/24, 3/8, 3/8, 8/3, 27/8]",(-91/24)+(3/8)+(3/8)+(8/3)+(27/8)
42,-31/9,4/9,4/9,23/9,3,"[-31/9, 4/9, 4/9, 23/9, 3]",(-31/9)+(4/9)+(4/9)+(23/9)+(3)
43,-11/6,5/6,5/6,3/2,5/3,"[-11/6, 5/6, 5/6, 3/2, 5/3]",(-11/6)+(5/6)+(5/6)+(3/2)+(5/3)
44,-29/3,-25/3,3,9,9,"[-29/3, -25/3, 3, 9, 9]",(-29/3)+(-25/3)+(3)+(9)+(9)
45,-43/12,-11/12,9/4,9/4,3,"[-43/12, -11/12, 9/4, 9/4, 3]",(-43/12)+(-11/12)+(9/4)+(9/4)+(3)
46,-19/12,41/60,5/4,5/4,7/5,"[-19/12, 41/60, 5/4, 5/4, 7/5]",(-19/12)+(41/60)+(5/4)+(5/4)+(7/5)
47,-146/15,-14/3,7/5,8,8,"[-146/15, -14/3, 7/5, 8, 8]",(-146/15)+(-14/3)+(7/5)+(8)+(8)
48,-14/9,8/9,8/9,62/45,7/5,"[-14/9, 8/9, 8/9, 62/45, 7/5]",(-14/9)+(8/9)+(8/9)+(62/45)+(7/5)

In [ ]:
st[st.sltnstr.str.contains('\(-13\)')]

Empty DataFrame
Columns: [x1, x2, x3, x4, x5, sltn, sltnstr]
Index: []

In [ ]:
sy.simplify('10/3+10/3-6-10/3     ')

In [ ]:
st2

Empty DataFrame
Columns: [x1, x2, x3, x4, x5, sltn, sltnstr]
Index: []

## Solutions with 4 or 3 chiral fields

In [ ]:
def dupli(x,a):
  isainx=False
  if a in x:
    isainx=True
  return isainx

In [ ]:
st0=st[st.sltn.apply(lambda x: dupli(x,'0'))]

In [ ]:
st[st.sltnstr.str.contains('13/5')]

,x1,x2,x3,x4,x5,sltn,sltnstr
147,-71/10,-1/5,7/10,13/5,7,"[-71/10, -1/5, 7/10, 13/5, 7]",(-71/10)+(-1/5)+(7/10)+(13/5)+(7)
175,-13/5,0,8/5,9/5,11/5,"[-13/5, 0, 8/5, 9/5, 11/5]",(-13/5)+(0)+(8/5)+(9/5)+(11/5)
210,-13/5,1/5,19/15,9/5,7/3,"[-13/5, 1/5, 19/15, 9/5, 7/3]",(-13/5)+(1/5)+(19/15)+(9/5)+(7/3)
227,-13/5,7/10,4/5,8/5,5/2,"[-13/5, 7/10, 4/5, 8/5, 5/2]",(-13/5)+(7/10)+(4/5)+(8/5)+(5/2)

In [ ]:
st0[~st0.sltnstr.str.contains('0,0')]

,x1,x2,x3,x4,x5,sltn,sltnstr
47,-9,-1/2,0,37/10,44/5,"[-9, -1/2, 0, 37/10, 44/5]","-9,-1/2,0,37/10,44/5"
61,-8/3,0,5/3,5/3,7/3,"[-8/3, 0, 5/3, 5/3, 7/3]","-8/3,0,5/3,5/3,7/3"
100,-107/15,-6/5,0,16/3,6,"[-107/15, -6/5, 0, 16/3, 6]","-107/15,-6/5,0,16/3,6"
149,-25/3,-1/6,0,10/3,49/6,"[-25/3, -1/6, 0, 10/3, 49/6]","-25/3,-1/6,0,10/3,49/6"
168,0,1/4,1/2,13/12,7/6,"[0, 1/4, 1/2, 13/12, 7/6]","0,1/4,1/2,13/12,7/6"
169,0,1/3,2/3,2/3,4/3,"[0, 1/3, 2/3, 2/3, 4/3]","0,1/3,2/3,2/3,4/3"
170,0,1/9,7/9,8/9,11/9,"[0, 1/9, 7/9, 8/9, 11/9]","0,1/9,7/9,8/9,11/9"
171,-31/6,0,2/3,5/2,5,"[-31/6, 0, 2/3, 5/2, 5]","-31/6,0,2/3,5/2,5"
172,0,3/8,3/8,25/24,29/24,"[0, 3/8, 3/8, 25/24, 29/24]","0,3/8,3/8,25/24,29/24"
173,0,8/21,3/7,19/21,9/7,"[0, 8/21, 3/7, 19/21, 9/7]","0,8/21,3/7,19/21,9/7"
174,0,4/21,4/7,23/21,8/7,"[0, 4/21, 4/7, 23/21, 8/7]","0,4/21,4/7,23/21,8/7"
175,-13/5,0,8/5,9/5,11/5,"[-13/5, 0, 8/5, 9/5, 11/5]","-13/5,0,8/5,9/5,11/5"

In [ ]:
st[st.sltnstr.str.contains('13/5')]

,x1,x2,x3,x4,x5,sltn,sltnstr
147,-71/10,-1/5,7/10,13/5,7,"[-71/10, -1/5, 7/10, 13/5, 7]","-71/10,-1/5,7/10,13/5,7"
175,-13/5,0,8/5,9/5,11/5,"[-13/5, 0, 8/5, 9/5, 11/5]","-13/5,0,8/5,9/5,11/5"
210,-13/5,1/5,19/15,9/5,7/3,"[-13/5, 1/5, 19/15, 9/5, 7/3]","-13/5,1/5,19/15,9/5,7/3"
227,-13/5,7/10,4/5,8/5,5/2,"[-13/5, 7/10, 4/5, 8/5, 5/2]","-13/5,7/10,4/5,8/5,5/2"

In [ ]:
st2

,x1,x2,x3,x4,x5,sltn,sltnstr
1,-5,-5/4,9/4,9/4,19/4,"[-5, -5/4, 9/4, 9/4, 19/4]","-5,-5/4,9/4,9/4,19/4"
11,-7/2,-1,5/2,5/2,5/2,"[-7/2, -1, 5/2, 5/2, 5/2]","-7/2,-1,5/2,5/2,5/2"
19,-5,0,0,4,4,"[-5, 0, 0, 4, 4]","-5,0,0,4,4"
20,-5,1/4,1/4,11/4,19/4,"[-5, 1/4, 1/4, 11/4, 19/4]","-5,1/4,1/4,11/4,19/4"
21,-5,1/9,1/9,29/9,41/9,"[-5, 1/9, 1/9, 29/9, 41/9]","-5,1/9,1/9,29/9,41/9"
25,-5/2,5/12,1,11/6,9/4,"[-5/2, 5/12, 1, 11/6, 9/4]","-5/2,5/12,1,11/6,9/4"
27,-2,2/5,7/5,8/5,8/5,"[-2, 2/5, 7/5, 8/5, 8/5]","-2,2/5,7/5,8/5,8/5"
31,-5,4/9,4/9,20/9,44/9,"[-5, 4/9, 4/9, 20/9, 44/9]","-5,4/9,4/9,20/9,44/9"
40,-2,9/10,9/10,49/40,79/40,"[-2, 9/10, 9/10, 49/40, 79/40]","-2,9/10,9/10,49/40,79/40"
50,-3,-1/3,5/3,7/3,7/3,"[-3, -1/3, 5/3, 7/3, 7/3]","-3,-1/3,5/3,7/3,7/3"
58,-8,-4/5,13/7,2,278/35,"[-8, -4/5, 13/7, 2, 278/35]","-8,-4/5,13/7,2,278/35"
61,-8/3,0,5/3,5/3,7/3,"[-8/3, 0, 5/3, 5/3, 7/3]","-8/3,0,5/3,5/3,7/3"
64,-4,1/9,4/9,29/9,29/9,"[-4, 1/9, 4/9, 29/9, 29/9]","-4,1/9,4/9,29/9,29/9"
68,-4,2/7,2/7,64/21,71/21,"[-4, 2/7, 2/7, 64/21, 71/21]","-4,2/7,2/7,64/21,71/21"
74,-8/5,11/15,16/15,7/5,7/5,"[-8/5, 11/15, 16/15, 7/5, 7/5]","-8/5,11/15,16/15,7/5,7/5"
78,-7/2,-7/8,9/4,9/4,23/8,"[-7/2, -7/8, 9/4, 9/4, 23/8]","-7/2,-7/8,9/4,9/4,23/8"
85,-7/3,1/6,3/2,11/6,11/6,"[-7/3, 1/6, 3/2, 11/6, 11/6]","-7/3,1/6,3/2,11/6,11/6"
90,-33/5,-7/5,8/5,3,32/5,"[-33/5, -7/5, 8/5, 3, 32/5]","-33/5,-7/5,8/5,3,32/5"
99,-6,0,0,10/3,17/3,"[-6, 0, 0, 10/3, 17/3]","-6,0,0,10/3,17/3"
107,-3/4,5/6,5/6,61/60,16/15,"[-3/4, 5/6, 5/6, 61/60, 16/15]","-3/4,5/6,5/6,61/60,16/15"
123,-73/18,-4/9,1,19/6,10/3,"[-73/18, -4/9, 1, 19/6, 10/3]","-73/18,-4/9,1,19/6,10/3"
131,-1/3,3/5,3/5,9/10,37/30,"[-1/3, 3/5, 3/5, 9/10, 37/30]","-1/3,3/5,3/5,9/10,37/30"
138,-71/24,-3/8,11/6,9/4,9/4,"[-71/24, -3/8, 11/6, 9/4, 9/4]","-71/24,-3/8,11/6,9/4,9/4"
140,-2/9,4/15,5/6,1,101/90,"[-2/9, 4/15, 5/6, 1, 101/90]","-2/9,4/15,5/6,1,101/90"
142,-1/5,1/2,7/10,7/10,13/10,"[-1/5, 1/2, 7/10, 7/10, 13/10]","-1/5,1/2,7/10,7/10,13/10"
150,-1/9,4/9,4/9,1,11/9,"[-1/9, 4/9, 4/9, 1, 11/9]","-1/9,4/9,4/9,1,11/9"
164,-1/6,5/18,5/6,5/6,11/9,"[-1/6, 5/18, 5/6, 5/6, 11/9]","-1/6,5/18,5/6,5/6,11/9"
167,0,0,1,1,1,"[0, 0, 1, 1, 1]","0,0,1,1,1"
169,0,1/3,2/3,2/3,4/3,"[0, 1/3, 2/3, 2/3, 4/3]","0,1/3,2/3,2/3,4/3"
172,0,3/8,3/8,25/24,29/24,"[0, 3/8, 3/8, 25/24, 29/24]","0,3/8,3/8,25/24,29/24"
176,1/4,1/4,1/4,1,5/4,"[1/4, 1/4, 1/4, 1, 5/4]","1/4,1/4,1/4,1,5/4"
177,1/9,1/9,5/9,1,11/9,"[1/9, 1/9, 5/9, 1, 11/9]","1/9,1/9,5/9,1,11/9"
178,1/4,1/4,1/2,5/8,11/8,"[1/4, 1/4, 1/2, 5/8, 11/8]","1/4,1/4,1/2,5/8,11/8"
180,-17/4,1/4,1/4,3,15/4,"[-17/4, 1/4, 1/4, 3, 15/4]","-17/4,1/4,1/4,3,15/4"
181,1/6,1/6,7/12,3/4,4/3,"[1/6, 1/6, 7/12, 3/4, 4/3]","1/6,1/6,7/12,3/4,4/3"
182,-55/9,1/9,1/9,3,53/9,"[-55/9, 1/9, 1/9, 3, 53/9]","-55/9,1/9,1/9,3,53/9"
184,1/5,1/5,7/15,4/5,4/3,"[1/5, 1/5, 7/15, 4/5, 4/3]","1/5,1/5,7/15,4/5,4/3"
186,1/9,1/9,19/27,7/9,35/27,"[1/9, 1/9, 19/27, 7/9, 35/27]","1/9,1/9,19/27,7/9,35/27"
187,-11/4,1/4,1,9/4,9/4,"[-11/4, 1/4, 1, 9/4, 9/4]","-11/4,1/4,1,9/4,9/4"
189,-1/14,2/7,4/7,1,17/14,"[-1/14, 2/7, 4/7, 1, 17/14]","-1/14,2/7,4/7,1,17/14"
200,1/9,4/9,4/9,17/27,37/27,"[1/9, 4/9, 4/9, 17/27, 37/27]","1/9,4/9,4/9,17/27,37/27"
211,2/5,2/5,2/5,2/5,7/5,"[2/5, 2/5, 2/5, 2/5, 7/5]","2/5,2/5,2/5,2/5,7/5"
216,-7/20,2/5,9/10,9/10,23/20,"[-7/20, 2/5, 9/10, 9/10, 23/20]","-7/20,2/5,9/10,9/10,23/20"
217,29/120,3/10,3/10,33/40,4/3,"[29/120, 3/10, 3/10, 33/40, 4/3]","29/120,3/10,3/10,33/40,4/3"
218,-91/24,3/8,3/8,8/3,27/8,"[-91/24, 3/8, 3/8, 8/3, 27/8]","-91/24,3/8,3/8,8/3,27/8"
219,-31/9,4/9,4/9,23/9,3,"[-31/9, 4/9, 4/9, 23/9, 3]","-31/9,4/9,4/9,23/9,3"
223,-11/6,5/6,5/6,3/2,5/3,"[-11/6, 5/6, 5/6, 3/2, 5/3]","-11/6,5/6,5/6,3/2,5/3"
225,-29/3,-25/3,3,9,9,"[-29/3, -25/3, 3, 9, 9]","-29/3,-25/3,3,9,9"
226,-43/12,-11/12,9/4,9/4,3,"[-43/12, -11/12, 9/4, 9/4, 3]","-43/12,-11/12,9/4,9/4,3"
230,-19/12,41/60,5/4,5/4,7/5,"[-19/12, 41/60, 5/4, 5/4, 7/5]","-19/12,41/60,5/4,5/4,7/5"
236,-146/15,-14/3,7/5,8,8,"[-146/15, -14/3, 7/5, 8, 8]","-146/15,-14/3,7/5,8,8"
237,-14/9,8/9,8/9,62/45,7/5,"[-14/9, 8/9, 8/9, 62/45, 7/5]","-14/9,8/9,8/9,62/45,7/5"

In [ ]:
st2[st2.sltnstr.str.contains(r'([0-9]*\/*[0-9]+),\1,\1')].reset_index(drop=True)

/usr/local/lib/python2.7/dist-packages/ipykernel_launcher.py:1: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  """Entry point for launching an IPython kernel.

     x1   x2   x3   x4   x5                       sltn              sltnstr
0  -7/2   -1  5/2  5/2  5/2  [-7/2, -1, 5/2, 5/2, 5/2]  -7/2,-1,5/2,5/2,5/2
1     0    0    1    1    1            [0, 0, 1, 1, 1]            0,0,1,1,1
2   1/4  1/4  1/4    1  5/4    [1/4, 1/4, 1/4, 1, 5/4]    1/4,1/4,1/4,1,5/4
3   2/5  2/5  2/5  2/5  7/5  [2/5, 2/5, 2/5, 2/5, 7/5]  2/5,2/5,2/5,2/5,7/5

In [ ]:
st2[~st2.sltnstr.str.contains(r'([0-9]*\/*[0-9]+),\1,\1')].reset_index(drop=True)

/usr/local/lib/python2.7/dist-packages/ipykernel_launcher.py:1: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  """Entry point for launching an IPython kernel.

,x1,x2,x3,x4,x5,sltn,sltnstr
0,-5,-5/4,9/4,9/4,19/4,"[-5, -5/4, 9/4, 9/4, 19/4]","-5,-5/4,9/4,9/4,19/4"
1,-5,0,0,4,4,"[-5, 0, 0, 4, 4]","-5,0,0,4,4"
2,-5,1/4,1/4,11/4,19/4,"[-5, 1/4, 1/4, 11/4, 19/4]","-5,1/4,1/4,11/4,19/4"
3,-5,1/9,1/9,29/9,41/9,"[-5, 1/9, 1/9, 29/9, 41/9]","-5,1/9,1/9,29/9,41/9"
4,-5/2,5/12,1,11/6,9/4,"[-5/2, 5/12, 1, 11/6, 9/4]","-5/2,5/12,1,11/6,9/4"
5,-2,2/5,7/5,8/5,8/5,"[-2, 2/5, 7/5, 8/5, 8/5]","-2,2/5,7/5,8/5,8/5"
6,-5,4/9,4/9,20/9,44/9,"[-5, 4/9, 4/9, 20/9, 44/9]","-5,4/9,4/9,20/9,44/9"
7,-2,9/10,9/10,49/40,79/40,"[-2, 9/10, 9/10, 49/40, 79/40]","-2,9/10,9/10,49/40,79/40"
8,-3,-1/3,5/3,7/3,7/3,"[-3, -1/3, 5/3, 7/3, 7/3]","-3,-1/3,5/3,7/3,7/3"
9,-8,-4/5,13/7,2,278/35,"[-8, -4/5, 13/7, 2, 278/35]","-8,-4/5,13/7,2,278/35"
10,-8/3,0,5/3,5/3,7/3,"[-8/3, 0, 5/3, 5/3, 7/3]","-8/3,0,5/3,5/3,7/3"
11,-4,1/9,4/9,29/9,29/9,"[-4, 1/9, 4/9, 29/9, 29/9]","-4,1/9,4/9,29/9,29/9"
12,-4,2/7,2/7,64/21,71/21,"[-4, 2/7, 2/7, 64/21, 71/21]","-4,2/7,2/7,64/21,71/21"
13,-8/5,11/15,16/15,7/5,7/5,"[-8/5, 11/15, 16/15, 7/5, 7/5]","-8/5,11/15,16/15,7/5,7/5"
14,-7/2,-7/8,9/4,9/4,23/8,"[-7/2, -7/8, 9/4, 9/4, 23/8]","-7/2,-7/8,9/4,9/4,23/8"
15,-7/3,1/6,3/2,11/6,11/6,"[-7/3, 1/6, 3/2, 11/6, 11/6]","-7/3,1/6,3/2,11/6,11/6"
16,-33/5,-7/5,8/5,3,32/5,"[-33/5, -7/5, 8/5, 3, 32/5]","-33/5,-7/5,8/5,3,32/5"
17,-6,0,0,10/3,17/3,"[-6, 0, 0, 10/3, 17/3]","-6,0,0,10/3,17/3"
18,-3/4,5/6,5/6,61/60,16/15,"[-3/4, 5/6, 5/6, 61/60, 16/15]","-3/4,5/6,5/6,61/60,16/15"
19,-73/18,-4/9,1,19/6,10/3,"[-73/18, -4/9, 1, 19/6, 10/3]","-73/18,-4/9,1,19/6,10/3"
20,-1/3,3/5,3/5,9/10,37/30,"[-1/3, 3/5, 3/5, 9/10, 37/30]","-1/3,3/5,3/5,9/10,37/30"
21,-71/24,-3/8,11/6,9/4,9/4,"[-71/24, -3/8, 11/6, 9/4, 9/4]","-71/24,-3/8,11/6,9/4,9/4"
22,-2/9,4/15,5/6,1,101/90,"[-2/9, 4/15, 5/6, 1, 101/90]","-2/9,4/15,5/6,1,101/90"
23,-1/5,1/2,7/10,7/10,13/10,"[-1/5, 1/2, 7/10, 7/10, 13/10]","-1/5,1/2,7/10,7/10,13/10"
24,-1/9,4/9,4/9,1,11/9,"[-1/9, 4/9, 4/9, 1, 11/9]","-1/9,4/9,4/9,1,11/9"
25,-1/6,5/18,5/6,5/6,11/9,"[-1/6, 5/18, 5/6, 5/6, 11/9]","-1/6,5/18,5/6,5/6,11/9"
26,0,1/3,2/3,2/3,4/3,"[0, 1/3, 2/3, 2/3, 4/3]","0,1/3,2/3,2/3,4/3"
27,0,3/8,3/8,25/24,29/24,"[0, 3/8, 3/8, 25/24, 29/24]","0,3/8,3/8,25/24,29/24"
28,1/9,1/9,5/9,1,11/9,"[1/9, 1/9, 5/9, 1, 11/9]","1/9,1/9,5/9,1,11/9"
29,1/4,1/4,1/2,5/8,11/8,"[1/4, 1/4, 1/2, 5/8, 11/8]","1/4,1/4,1/2,5/8,11/8"
30,-17/4,1/4,1/4,3,15/4,"[-17/4, 1/4, 1/4, 3, 15/4]","-17/4,1/4,1/4,3,15/4"
31,1/6,1/6,7/12,3/4,4/3,"[1/6, 1/6, 7/12, 3/4, 4/3]","1/6,1/6,7/12,3/4,4/3"
32,-55/9,1/9,1/9,3,53/9,"[-55/9, 1/9, 1/9, 3, 53/9]","-55/9,1/9,1/9,3,53/9"
33,1/5,1/5,7/15,4/5,4/3,"[1/5, 1/5, 7/15, 4/5, 4/3]","1/5,1/5,7/15,4/5,4/3"
34,1/9,1/9,19/27,7/9,35/27,"[1/9, 1/9, 19/27, 7/9, 35/27]","1/9,1/9,19/27,7/9,35/27"
35,-11/4,1/4,1,9/4,9/4,"[-11/4, 1/4, 1, 9/4, 9/4]","-11/4,1/4,1,9/4,9/4"
36,-1/14,2/7,4/7,1,17/14,"[-1/14, 2/7, 4/7, 1, 17/14]","-1/14,2/7,4/7,1,17/14"
37,1/9,4/9,4/9,17/27,37/27,"[1/9, 4/9, 4/9, 17/27, 37/27]","1/9,4/9,4/9,17/27,37/27"
38,-7/20,2/5,9/10,9/10,23/20,"[-7/20, 2/5, 9/10, 9/10, 23/20]","-7/20,2/5,9/10,9/10,23/20"
39,29/120,3/10,3/10,33/40,4/3,"[29/120, 3/10, 3/10, 33/40, 4/3]","29/120,3/10,3/10,33/40,4/3"
40,-91/24,3/8,3/8,8/3,27/8,"[-91/24, 3/8, 3/8, 8/3, 27/8]","-91/24,3/8,3/8,8/3,27/8"
41,-31/9,4/9,4/9,23/9,3,"[-31/9, 4/9, 4/9, 23/9, 3]","-31/9,4/9,4/9,23/9,3"
42,-11/6,5/6,5/6,3/2,5/3,"[-11/6, 5/6, 5/6, 3/2, 5/3]","-11/6,5/6,5/6,3/2,5/3"
43,-29/3,-25/3,3,9,9,"[-29/3, -25/3, 3, 9, 9]","-29/3,-25/3,3,9,9"
44,-43/12,-11/12,9/4,9/4,3,"[-43/12, -11/12, 9/4, 9/4, 3]","-43/12,-11/12,9/4,9/4,3"
45,-19/12,41/60,5/4,5/4,7/5,"[-19/12, 41/60, 5/4, 5/4, 7/5]","-19/12,41/60,5/4,5/4,7/5"
46,-146/15,-14/3,7/5,8,8,"[-146/15, -14/3, 7/5, 8, 8]","-146/15,-14/3,7/5,8,8"
47,-14/9,8/9,8/9,62/45,7/5,"[-14/9, 8/9, 8/9, 62/45, 7/5]","-14/9,8/9,8/9,62/45,7/5"